
@model TbBooks
@{
    TempData["Title"] = "Add Book";
}


<div class="card shadow-sm">
    <div class="card-header">
        <h3 class="card-title">Add Book</h3>
    </div>
    <div class="card-body">
        <div class="row">
            <form method="post" asp-controller="Books" asp-action="Create" enctype="multipart/form-data" >
                <div class="row">
                     <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input asp-for="@Model.BookTitle" type="text" class="form-control"  placeholder="Title">
                        <label for="floatingInput">Title</label>
                        <span asp-validation-for="@Model.BookTitle"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <select class="form-select" style="padding-bottom: inherit;" asp-for="@Model.AuthorId" asp-items="@(new SelectList(ViewBag.Authors,"AuthorId","AuthorName" ))">
                            <option value="">Select Author </option>                 
                        </select>
                        <label for="floatingSelect">Authors</label>
                    </div>
                    <div class="form-floating mb-3">
                        <select class="form-select" style="padding-bottom: inherit;" asp-for="@Model.CategoryId" asp-items="@(new SelectList(ViewBag.Categories,"CategoryId","CategoryName" ))">
                            <option value="">Select Category </option>
                        </select>
                        <label for="floatingSelect">Categories</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="@Model.Publisher" type="text" class="form-control" placeholder="Publisher">
                        <label for="floatingInput">Publisher</label>
                        <span asp-validation-for="@Model.Publisher"></span>
                    </div>
                      <div class="form-floating mb-3">
                        <input asp-for="@Model.PublishingDate" type="date" class="form-control" placeholder="Publishing Date">
                        <label for="floatingInput">Publishing Date</label>
                        <span asp-validation-for="@Model.PublishingDate"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="@Model.Hall" type="text" class="form-control" placeholder="Hall">
                        <label for="floatingInput">Hall</label>
                        <span asp-validation-for="@Model.Hall"></span>
                    </div>
                    <div class="form-floating mb-3">
                            <input name="img" type="file" class="form-control" placeholder="Image Cover" 
                            onchange="document.getElementById('imagepreview').src=window.URL.createObjectURL(this.files[0])">
                        <label for="floatingInput">Image</label>
                        <span asp-validation-for="@Model.Hall"></span>
                    </div>
                    <div class="form-check mb-3">
                        <input asp-for="IsAvaliableForRental" class="form-check-input" type="checkbox" >
                        <label class="form-check-label" >
                           Is Available For Rental
                        </label>
                        <span asp-validation-for="@Model.IsAvaliableForRental"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <textarea asp-for="@Model.Descreption" class="form-control" placeholder="Description"  style="height: 75px"></textarea>
                        <label for="floatingTextarea2">Descreption</label>
                        <span asp-validation-for="@Model.Descreption"></span>
                    </div>
                     <button type="submit" class="btn btn-primary ">
                        <i class="bi bi-check2"></i>
                        Save
                    </button>
                </div>
                     <div class="col-md-6 " >
                        <img id="imagepreview" src="~/Admin/Uploads/Books/images (1).png" class="rounded float-start " style="width:420px;height:500px" alt="image preview">
                     </div>
                </div>
               
               
            </form>
              
           
        </div>
    </div>
</div>

@section Scripts
    {
    <partial name="_ValidationScriptsPartial" />
}